<div id="cookie-popup" class="cookie-popup">
  <p class="text-center text-body-15.5">Nous utilisons des cookies pour améliorer votre expérience sur notre site.<br>En poursuivant votre navigation, vous acceptez notre utilisation des cookies.</p>
  <br>
  <button id="accept-cookies" class="button-primary mr-6">Accepter</button>
  <button id="reject-cookies" class="button-secondary">Refuser</button>
</div>
