<% if target && target.errors.any? %>
  <div class="col-span-full">
    <div id="errorExplanation" class="errorExplanation flash error" data-hook>
      <h2><%= t('Des erreurs sont survenues') %>:</h2>
      <p><%= t('Il y a des erreurs dans le formulaire ci-dessous') %>:</p>
      <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
