<section class="grid-container grid-cols-1 gap-7 wrapper py-4 lg:py-12 lg:grid-cols-3">
  <div class="flex flex-col items-center justify-center py-10 px-3">
    <h3 class="text-h2.5 text-center font-serif mb-5">Rejoins le MATES CLUB</h3>
    <%= render "shared/call_to_action", { label: "Inscris toi", url: '/account', target: '_self' } %>
  </div>
  <div class="container my-5">
  <div class="storytelling text-center">
    <h3 class="font-serif text-h4 md:text-h3">Notre Histoire</h3>
    <br>
    <p class="para1">
      <strong>En 2010, un jeune athlète passionné du nom de Junior Kitsadi. Ancien handballeur de première division, Junior avait non seulement excellé sur le terrain. Animé par les valeurs du sport collectif - solidarité, camaraderie et dépassement de soi - il rêvait de créer une marque qui incarnerait cet esprit unique.</strong>
    </p>
    <p class="para5">
      <strong>Ensemble, nous sommes SEVENMATES.</strong>
    </p>
  </div>
</div>
  <div class="flex flex-col items-center justify-center py-10 px-3">
    <h3 class="text-h2.5 text-center font-serif mb-5">Découvre nos collections <br></h3>
    <%= render "shared/call_to_action", { label: "Voir les collections", url: '/products', target: '_self' } %>
  </div>
</section>
