<section class="flex flex-col lg:flex-row items-center justify-center gap-7 wrapper py-4 lg:py-12 matesclub mb-6">
  <div class="video-background">
    <video class="vid" src="https://res.cloudinary.com/daroyxenr/video/upload/v1719422257/Elegant_Summer_Fashion_Blog_Banner_Beige_1_qu6e9w.mp4" autoplay loop muted playsinline preload="auto"></video>
  </div>
  <div class="flex flex-col items-center justify-center py-10 px-3 content-overlay matesclub">
    <h3 class="text-h2 text-center bebas-neue-regular mb-1">Rejoinez<br>le MATES CLUB</h3>
    <p class="text-body-sm text-center bebas-neue-regular">Contactez nous pour plus d'informations</p>
    <br>
    <%= render "shared/call_to_action", { label: "devis gratuit", url: 'pages/_matesclubform', target: '_self' } %>
  </div>
</section>
