<section class="wrapper pt-3 pb-14 md:pb-24">
  <div class="grid-container">
    <div class="col-span-full md:col-span-8 md:max">
      <%= render 'products/featured_product_card', { product: products[0], size: 'big' } %>
    </div>
    <div class="storytelling text-center">
      <h3 class="text-h2 text-center bebas-neue-regular mb-5">Notre engagement</h3>
      <img src="<%= image_path('engagement.svg') %>" alt="Engagement" class="w-full mb-6">
      <p class="text-body-sm md:text-body text-center bebas-neue-regular">La qualité de nos produits est notre priorité. Nous nous engageons à vous proposer des produits de qualité, respectueux de l'environnement et de votre santé.</p>
   </div>
    <div class="col-span-full flex flex-col gap-y-6 md:col-span-4">
      <% products.each_with_index do |product, index| %>
        <% if index > 0 %>
          <div class="basis-1/2">
            <%= render 'products/featured_product_card', { product: product, size: 'small' } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</section>
