
<head>
  <style>
    /* CSS pour uniformiser la taille des logos */
    .logo-img {
      width: 150px; /* ou toute autre dimension appropriée */
      height: 100px; /* ou toute autre dimension appropriée */
      object-fit: contain; /* Permet de conserver les proportions de l'image */
    }

    .swiper-container-logos {
      width: 100%;
      height: 250px; /* Ajustez cette valeur selon vos besoins */
    }
  </style>
</head>

<body>
  <section class="wrapper mb-12">
    <div class="flex items-center justify-between mb-7">
      <h3 class="text-h2 text-center bebas-neue-regular md:text-h3">Ils nous ont fait confiance...</h3>
    </div>
    <div class="swiper-container-logos">
      <div class="swiper-wrapper">
        <!-- Répétez ce bloc pour chaque logo -->
        <div class="swiper-slide">
          <div class="flex-container">
            <a href="https://www.girondins.com/">
              <img src="https://www.girondins.com/img/logo/Girondins_Bordeaux_Logo.png" alt="Girondins de Bordeaux" class="logo-img">
            </a>
            <p><strong>Girondins de Bordeaux</strong><br>Club Football</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex-container">
            <a href="https://www.lormonthandball.com">
              <img src="https://www.lormonthandball.com/media/uploaded/sites/21878/association/635e4f90694cd_logoLhhG.png" alt="New Logo" class="logo-img">
            </a>
            <p><strong>Lormont Handball</strong><br>Club Handball</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex-container">
            <a href="https://players-pearl.vercel.app/">
              <img src="https://res.cloudinary.com/daroyxenr/image/upload/v1715685571/Product_Features_Website_oum4io.svg" alt="Players" class="logo-img">
            </a>
            <p><strong>Players</strong><br>Application Mobile</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex-container">
            <a href="https://www.jsa-bmb.fr">
              <img src="https://www.jsa-bmb.fr/wp-content/uploads/2021/07/Logo_retouche.png" alt="JSA" class="logo-img">
            </a>
            <p><strong>JSA</strong><br>Club Basket-ball</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var swiperLogos = new Swiper('.swiper-container-logos', {
        loop: true,
        pagination: {
          el: '.swiper-pagination-logos',
          clickable: true,
          spaceBetween: 10,
        },
        navigation: {
          nextEl: '.swiper-button-next-logos',
          prevEl: '.swiper-button-prev-logos',
        },
        autoplay: {
          delay: 5000, // 5 seconds
          disableOnInteraction: false,
        },
      });
    });
  </script>
</body>
