  <div class="storytelling text-center">
    <br>
    <h3 class="font-serif text-h4 md:text-h3">Notre Histoire</h3>
    <br>
    <p class="para1">
      <strong>En 2010, un jeune athlète passionné du nom de Junior Kitsadi. Ancien handballeur de première division,<br>Junior avait non seulement excellé sur le terrain. Animé par les valeurs du sport collectif - solidarité, camaraderie et dépassement de soi - <br>il rêvait de créer une marque qui incarnerait cet esprit unique.</strong>
    </p>
    <p class="para5">
      <strong>Ensemble, nous sommes SEVENMATES.</strong>
    </p>
    <div class="storytelling text-center">
      <br><br>
      <h3 class="text-h4.5 font-serif mb-5">Suis-nous sur les réseaux</h3>
      <%= render "shared/social_icons" %>
    </div>
    <br><br>
    <div class="col-span-full border-t-[1px] border-t-black dark:border-t-white py-16">
  </div>
