<div class="col-span-full border-b-[1px] border-t-black dark:border-t-white mb-6">
  <div class="background-image">
    <div class="storytelling text-center">
      <br>
      <h3 class="text-h2 text-center bebas-neue-regular">Notre Histoire</h3>
      <br><br>

      <div class="flex-container storytelling text-center">
        <img src="<%= image_path('chess.svg') %>" alt="chess" id="chess">

        <p class="para1 bebas-neue-regular">
            En 2010, un jeune handballeur passionné du nom de<br>Junior a non seulement excellé sur le terrain<br>mais a aussi développé une passion<br>pour la mode et le design.
        </p>

        <img src="<%= image_path('logo.png') %>" alt="logo" class="w-14">

        <p class="para5 bebas-neue-regular">
            Animé par les valeurs du sport collectif:<br>Solidarité, Camaraderie et Dépassement De Soi<br>Il rêvait de créer une marque qui<br>incarnerait cet esprit unique.
        </p>
        <img src="<%= image_path('chess.svg') %>" alt="chess" id="chess-flipped" class="flipped">
      </div>

      <div class="storytelling text-center" id="reseaux">
        <h3 class="text-h4.5 bebas-neue-regular mt-5"><strong>Suis-nous sur les réseaux...<br>partage et échange avec nous !</strong></h3>
        <br>
        <%= render "shared/social_icons" %>
        <br>
      </div>
    </div>
  </div>
</div>
