<div class="container my-5">
  <div class="storytelling text-center">
    <h2 class="text-center mb-4">Notre Histoire</h2>
    <p class="para1">
      Il était une fois, en 2010, un jeune athlète passionné du nom de Junior Kitsadi. Ancien handballeur de première division, Junior avait non seulement excellé sur le terrain, mais il portait également en lui une vision singulière. Animé par les valeurs du sport collectif - solidarité, camaraderie et dépassement de soi - il rêvait de créer une marque qui incarnerait cet esprit unique.
    </p>
    <p class="para4">
      Aujourd'hui, SEVENMATES est présente sur plusieurs fronts, habillant aussi bien les athlètes que les amateurs de mode urbaine. Et à chaque vêtement, à chaque collection, se reflètent les valeurs chères à de la marque : l'esprit d'équipe, l'excellence et l'authenticité.
    </p>
    <p class="para5">
      Rejoignez-nous dans cette aventure. Ensemble, nous sommes plus forts.<br>Ensemble, nous sommes SEVENMATES.
    </p>
  </div>
</div>
