<body>
  <div class="background-image">
    <div class="storytelling text-center">
      <br>
      <h3 class="font-serif text-h4 md:text-h3">Notre Histoire</h3>
      <br><br>
      <div class="flex-container">
        <img src="<%= image_path('chess.svg') %>" alt="chess" id="chess">

        <p class="para1">
            En 2010, un jeune handballeur passionné du nom de<br>Junior a non seulement excellé sur le terrain,<br>mais a aussi développé une passion<br>pour la mode et le design.
        </p>
        <p class="para5">
            Animé par les valeurs du sport collectif:<br>Solidarité, Camaraderie et Dépassement De Soi.<br>Il rêvait de créer une marque qui<br>incarnerait cet esprit unique.
        </p>
        <img src="<%= image_path('chess.svg') %>" alt="chess" id="chess-flipped" class="flipped">
      </div>
      <div class="storytelling text-center" id="reseaux">
        <h3 class="text-h4.5 font-serif mt-5">Suis-nous sur les réseaux...<br>partage et échange avec nous !</h3>
        <br>
        <%= render "shared/social_icons" %>
        <br>
      </div>
    </div>
  </div>
</body>
