  <div class="storytelling text-center">
    <br>
    <h3 class="font-serif text-h4 md:text-h3">Notre Histoire</h3>
    <br>
    <div class="col-span-full md:mb-0 logo">
      <%= image_tag "logo.png", class: "mx-auto w-14 mb-7 dark:hidden" %>
    </div>
    <p class="para1">
      <strong>En 2010, un jeune athlète passionné du nom de Junior Kitsadi.<br>Ancien handballeur de première division,<br>Junior avait non seulement excellé sur le terrain.<br><br>Animé par les valeurs du sport collectif: <br>Solidarité, Camaraderie et Dépassement De Soi - <br>Il rêvait de créer une marque qui incarnerait cet esprit unique.</strong>
    </p>
    <br>
    <p class="para5">
      <strong>Ensemble, nous sommes<br>SEVENMATES.</strong>
    </p>
    <div class="storytelling text-center" id="reseaux">
      <br><br>
      <h3 class="text-h4.5 font-serif mb-5">Suis-nous sur les réseaux</h3>
      <%= render "shared/social_icons" %>
    </div>
    <br><br>
    <div class="col-span-full border-t-[1px] border-t-black dark:border-t-white py-16">
  </div>
